:root{
    --mainColor : #E3C7B2;
    --secondColor : #FFEDE0;
    --backColor1 : #F2D2BA;
    --backColor2 : #F5D8C2;
    --backColor3 : #FADFCB;
    --fontColor1 : #fff;
    --fontColor2 : #A5836A;
}